<div class="row">
	<%= simple_form_for(@estudiante, class: 'form-horizontal' ) do |f| %>
		<% if @estudiante.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@estudiante.errors.count, "error") %> prohibited this estudiante from being saved:</h2>

	      <ul>
	      <% @estudiante.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
		<%= f.input :name %>
		<%= f.input :apellido %>
		<%= f.input :direccion %>
		<%= f.input :tel_casa %>
		<%= f.input :tel_trabajo %>
		<%= f.input :celular %>
		<%= f.input :email %>
		<%= f.input :tipo_documento,as: :radio_buttons, default: :DNI %>
		<%= f.input :nro_documento %>
		<%= f.input :nacionalidad, as: :radio_buttons, default: :Argentina %>
		<%= f.input :vigencia_pasaporte %>
		<%= f.input :fecha_nac, as: :date, start_year: 1950 %>
		<%= f.input :sexo, :as => :radio_buttons, default: :Masculino %>
		<%= f.input :estado_civil, as: :radio_buttons, default: :Soltero %>
		<%= f.input :trabaja, as: :boolean %>
		<div id="Empresa">
			<%= f.input :empresa %>
			<%= f.input :cargo %>
		</div>
		<div id="Universidad">
			<%= f.input :universidad %>
			<%= f.input :carrera %>
			<%= f.input :anio%>
		</div>
		<%= f.input :talento%>
		<%= f.button :submit, class: 'btn btn-large btn-primary' %>
	<% end %>
</div>