_<h1>Listing estudiantes</h1>

<%= link_to 'Agregar estudiante', new_estudiante_path, class: 'btn btn-large btn-primary' %>
<div class="row">
<table class="table table-striped table-responsive table-hover">
  <thead>
    <tr>
			<th>Nombre</th>
			<th>Apellido</th>
      <th>Direccion</th>
      <th>Tel_casa</th>
      <th>Tel_trabajo</th>
      <th>Celular</th>
      <th>Email</th>
			<th>Fecha de Nacimiento</th>
			<th>Estado Civil</th>
			<th>Sexo</th>
			<th>Talento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    	<tr>
				<% @estudiantes.each do |estudiante| %>
        <td><%= link_to estudiante.name, estudiante %></td>
        <td><%= estudiante.apellido %></td>
        <td><%= estudiante.direccion %></td>
        <td><%= estudiante.tel_casa %></td>
        <td><%= estudiante.tel_trabajo %></td>
        <td><%= estudiante.celular %></td>
        <td><%= estudiante.email %></td>
        <td><%= estudiante.fecha_nac %></td>
        <td><%= estudiante.estado_civil %></td>
        <td><%= estudiante.sexo %></td>
				<td><%= estudiante.talento %></td>
        <td>
					<%= link_to 'Edit', edit_estudiante_path(estudiante), class: 'btn btn-mini btn-warning' %>
        	<%= link_to 'Destroy', estudiante, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>